.header {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #e6e7eb;
}

.back {
    align-items: center;
    display: none;
    color: deepskyblue;
}

@media (max-width: 425px) {
    .back {
        display: flex;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name {
    color: deepskyblue;
    font-weight: bold;
}

.img,
.back {
    height: 30px;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
