.photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: lightskyblue;
    position: absolute;
    bottom: -50px;
    left: 25px;
}

@media (max-width: 425px) {
    .photo {
        left: 50%;
        transform: translateX(-50%);
    }
}
