.about {
    background: white;
    position: relative;
    margin-left: 150px;
    border: 1px solid #e6e7eb;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    margin-top: 15px;
}

@media (max-width: 425px) {
    .about {
        margin-left: 0;
        margin-top: 65px;
    }
}

.name {
    color: deepskyblue;
    line-height: 50px;
    border-bottom: 1px solid deepskyblue;
    margin-bottom: 15px;
}

@media (max-width: 425px) {
    .name {
        text-align: center;
    }
}

.value {
    display: inline-block;
    position: absolute;
    left: 150px;
}
