.chat {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
}

@media (max-width: 425px) {
    .chat {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .hide {
        display: none;
    }
}
