html, body
  margin: 0
  padding: 0
  height: 100%
  color: grey

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

a
  text-decoration: none

ul
  margin: 0
  padding: 0
  list-style-type: none

.container
  max-width: 920px
  margin: 0 auto
  @media (max-width: 1024px)
    max-width: 768px
  @media (max-width: 768px)
    max-width: 100%
    padding: 0 25px

.main
  display: flex
