.nav {
    margin-top: 15px;
    width: 20%;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        width: 50%;
        margin-top: 0;
        padding: 75px 25px 25px 25px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        background: lightskyblue;
        height: 100%;
        z-index: 1;
    }
}

.item {
    padding: 3px;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .item {
        color: white;
    }
}

.item:hover:before,
.active:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background: deepskyblue;
}
